@charset "utf-8";

*{margin: 0px; padding: 0px; box-sizing: border-box;}

Ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
}

#container{
    width: 1180px;
    height: 500px;
    
}

#container .box{
    height: 250px;
    background-color: pink;
}

#container .box2{
    display: flex;
    height: 200px;
}

#container .box2 span:nth-of-type(1){
    flex-grow: 1;
    height: 100%;
    background-color: lightcoral;
}

#container .box2 span:nth-of-type(2){
    flex-grow: 1;
    height: 100%;
    background-color: red;
}

#container .box2 span:nth-of-type(3){
    flex: 1;
    height: 100%;
    background-color: coral;
}
#container .box3{
    display: flex;
}
#container .box3 span:nth-of-type(1){
    flex: 1;
    height: 100px;
    background-color: yellow;
}

#container .box3 span:nth-of-type(2){
    flex: 4;
    height: 100px;
    background-color: lightyellow;
}
#container .box3 span:nth-of-type(3){
    flex: 1;
    height: 100px;
    background-color: yellow;
}